*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
}

h1 {
    font-family: "Inter Tight", sans-serif;
    /* Font family Inter Tight */
    font-weight: 600;
    /* Font weight 600 */
    font-size: 52px;
    /* Font size 52px */
    line-height: 52px;
    /* Line height 52px */
    letter-spacing: -0.75px;
    /* Letter spacing -1.5% */

    margin: 0;
}

h2 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.75px;
    margin: 0;
}

h3 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.75px;
    margin: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 0;
}

p {
    margin: 0;
}

header {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 32px;
    width: 90%;

}


#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Sol ve sağ hizalama için */
}

#nav-logo-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Dikeyde ortalama */
    gap: 4px;
    cursor: pointer;
}

.nav-logo-left-img {
    height: 12px;
    width: 148px;
}

.menu-svg {
    height: 16px;
    width: 16px;
}

.tree-menu-svg {
    width: 21.33px;
    height: 16px;
}

.nav-logo-right {
    display: flex;
    align-items: center;
}

#navbar-right {
    display: none;
    flex-direction: row;
    gap: 20px;
    width: 498px;
    height: 52px;
    margin-right: 100px;
}

#navbar-right-list-ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
}

#navbar-right-list-li {
    width: 118px;
    height: 44px;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    gap: 10px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fbfbfb;
    background: none;
    cursor: pointer;
}

#navbar-right-list-li:hover {
    background-color: #d4bfc4;
    color: #7A3145;
    border: none;
}

#navbar-right-list-li:active {
    background-color: white;
}

#navbar-right-button {

    display: flex;
    border-radius: 30px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    background-color: #7a3145;
}

#navbar-right-button button {
    all: unset;
    /* Tüm varsayılan tarayıcı stillerini sıfırlar */
    color: #FBFBFB;
    /* Yazı rengi */
    font-family: "Inter Tight", sans-serif;
    /* Yazı tipi */
    font-size: 18px;
    /* Yazı boyutu */
    font-weight: 600;
    /* Yazı kalınlığı */
    line-height: 20px;
    cursor: pointer;
    /* Fare imlecini pointer yapar */
    text-align: center;
    width: 100px;

}

#navbar-right-button:hover {
    color: #7A3145;
    background-color: #D4BFC4;
}

#navbar-right-button:active {
    background-color: #FBFBFB;
}


.overlay-container {
    position: fixed;
    display: none;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: absolute;
    width: 100%;
    min-height: 812px;
    background-color: #576F35;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-button {
    border: none;
    top: 0;
    /* Üst kısmına yerleştirir */
    right: 20px;
    margin-top: 20px;
    width: 32px;
    height: 32px;
    background-color: #576F35;


}

.exit-svg {
    position: absolute;
    /* Öğeleri aynı konumda üst üste yerleştirir */
    top: 0;
    /* Üst kısmına yerleştirir */
    right: 20px;
    margin-top: 20px;
    list-style: none;
}

.overlay-menu-ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 234px;
    margin-left: 114px;
    margin-right: 114px;
    gap: 24px;
}

.overlay-menu-li {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #FBFBFB;
    padding: 12px;
    gap: 10px;

    background-color: #576F35;
    color: #FBFBFB;
}

.overlay-menu-li:active {
    background-color: #FBFBFB;
    color: #7A3145;
}

.shop-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 232px;
    margin-left: 100px;
    margin-right: 100px;
}


.overlay-button-under {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #7A3145;
    color: #FBFBFB;
    border-radius: 30px;
    gap: 10px;
    padding: 16px 41px;
}

.overlay-button-under:active {
    background-color: #FBFBFB;
    color: #7A3145;
}

#hero-section {
    display: flex;
    /* Flexbox aktif edilir */
    flex-direction: column;
    padding-top: 100px;
    gap: 40px;
    background-color: #576F35;
}

.hero-section-text p {
    color: #FBFBFB;
}

.hero-section-text h1 {
    color: #FBFBFB;
    text-transform: uppercase;
}

.hero-section-text {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* Flexbox aktif edilir */
    flex-direction: column;
    gap: 20px;
}

.hero-section-img {
    width: 100%;
    height: 372px;
    background-image: url(../images/header/heroimage@3x.png);
    background-size: cover;
    /* Resmi kapsayıcı alana göre ölçeklendirir */
    background-position: center;
    /* Resmi dikey ve yatay ortalar */
    background-repeat: no-repeat;
    /* Resmin tekrar etmesini engeller */
}

@media (min-width: 768px) and (max-width: 1279px) {

    h1 {
        font-weight: 600;
        font-size: 76px;
        line-height: 76px;
    }

    .overlay-container {

        right: 0;
        width: 50%;

    }

    .overlay {
        min-height: 1020px;
    }

    .shop-now {
        margin-bottom: 45px;
        margin-top: 380px;
    }

    header {
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 32px;
    }

    #hero-section {
        padding-top: 120px;
        gap: 50px;
    }

    .hero-section-text {
        max-width: 704px;
        gap: 24px;
    }

    .hero-section-text p {
        max-width: 603px;
    }

    .hero-section-img {
        height: 536px;
        background-image: url(../images/header/heroimage@2x.png);

    }

    .nav-logo-left-img {
        height: 16.67px;
        width: 186.67px;
    }

    .menu-svg {
        height: 20px;
        width: 20px;
    }

    .tree-menu-svg {
        width: 26.67px;
        height: 20px;
    }
}


@media (min-width: 1280px) {
    h1 {
        font-weight: 600;
        font-size: 76px;
        line-height: 76px;
    }
    
    
    header {
        margin-left: 100px;
        margin-top: 32px;
        width: 90%;
    }
    
    #navbar-right-button:hover {
        background-color: #D4BFC4;
        color: #7A3145;
    }
    
    
    #navbar-right {
        display: flex;
    }
    
    .nav-logo-right {
        display: none;
    }
    
    
    .overlay-button-under:active {
        background-color: #D4BFC4;
        color: #7A3145;
    }
    
    #hero-section {
        flex-direction: row;
        gap: 0px;
        padding-top: 0px;
    }
    
    .hero-section-img {
        width: 50%;
        height: 796px;
    }
    
    .hero-section-img {
    
        background-image: url(../images/header/heroimage@1x.png);
    }
    
    .hero-section-text {
        padding-top: 232px;
        padding-left: 100px;
        padding-right: 32px;
        width: 50%;
        gap: 128px
    }
}